@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header-container {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.mcdonald-navbar {
  width: 90%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}
